<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sbbi.obesityappv2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- my pc String url = "http://129.93.164.34:5150/picture"; -->
    <application
        android:name=".fitbit.FitbitAuthApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="logincallback"
                    android:scheme="fitbittester" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PhotoMenuActivity"
            android:label="Photo menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sbbi.obesityappv2.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.CameraActivity"
            android:label="@string/title_activity_camera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ResultActivity" />
        <activity
            android:name=".activity.Test"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.example.com/gizmos” -->
                <data
                    android:host="129.93.164.34:5150"
                    android:pathPrefix="/test"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ListNutrients">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sbbi.obesityappv2.activity.ResultActivity" />
        </activity>
        <activity android:name=".activity.CorrectPrediction">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sbbi.obesityappv2.activity.ResultActivity" />
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".fitbit.RootActivity" />
        <activity android:name=".fitbit.UserDataActivity" />
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SignUpActivity" />
        <activity android:name=".activity.MealDetailsActivity" />
        <activity android:name=".activity.InsightActivity" />
        <activity android:name=".activity.FingerActivity" />
        <activity android:name=".activity.ResultNutrientActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sbbi.obesityappv2.activity.MainActivity" />
        </activity>
    </application>

</manifest>